@media (min-width: 320px) and (max-width: 1668px) {
	body {
		background-color: darkgray;
		color: #ffffff;
	}

	a,
	.navbar-brand {
		color: #ffffff;
	}

	.jumbotron {
		color: darkgreen;
		padding: 5px;
		margin: 10px;
		border: 2px solid black;
	}
	button:hover {
		background-color: gray;
		transition: 0.25s;
	}

	button:active {
		background-color: white;
	}

	.text-light {
		position: absolute;
		left: 0;
		bottom: 0;
		height: auto;
		width: 100%;
		text-align: center;
	}
}
 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
